<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuhc.animationexample">

    <application>
        <activity
            android:name=".ObjectAnimatorActivity"
            android:exported="false" />
        <activity
            android:name=".AnimationExampleActivity"
            android:exported="false" />
        <activity android:name=".clean.CleanActivity" />
    </application>

</manifest>