<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuhc.basemodule">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name="com.xuhc.basemodule.BaseModuleActivity"
            android:exported="false" />
        <activity android:name="com.xuhc.basemodule.TestActivity" />
    </application>

</manifest>